---
const { submission } = Astro.props;
---

<div
  class="fixed left-0 right-0 z-50 items-center justify-center hidden overflow-x-hidden overflow-y-auto top-4 md:inset-0 h-modal sm:h-full"
  id="submission-modal"
>
  <div class="relative w-full h-full max-w-2xl px-4 md:h-auto">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-800">
      <!-- Modal header -->
      <div
        class="flex items-start justify-between p-5 border-b rounded-t dark:border-gray-700"
      >
        <h3 class="text-xl font-semibold dark:text-white">Edit submission</h3>
        <button
          type="button"
          class="modal-close-button text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-700 dark:hover:text-white"
        >
          <svg
            class="w-5 h-5"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
            ><path
              fill-rule="evenodd"
              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
              clip-rule="evenodd"></path></svg
          >
        </button>
      </div>
      <!-- Modal body -->
      <div class="p-6 space-y-6">
        <form
          id="edit-form"
          hx-post={`/submissions/my-submissions/api/edit?id=${submission.id}`}
          hx-target="#submissions-table"
          hx-swap="innerHTML"
          hx-on::after-request="handleAfterRequest()"
        >
          <div class="grid grid-cols-6 gap-6">
            <div class="col-span-6">
              <label
                for="edit-title"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Title <i class="font-light text-gray-600">- Optional</i></label
              >
              <input
                type="text"
                name="title"
                id="edit-title"
                value={submission.title}
                class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                placeholder="My submission title"
              />
            </div>
            <div class="col-span-6">
              <span
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >
                Modality
              </span>
              <div class="flex flex-row justify-between space-x-2">
                <div class="flex-grow">
                  <label
                    for="EDIT_RGB_ONLY"
                    class="block cursor-pointer rounded-lg border border-gray-100 bg-white p-4 text-sm font-medium shadow-sm hover:border-gray-200 has-[:checked]:border-primary-500 has-[:checked]:ring-1 has-[:checked]:ring-primary-500"
                  >
                    <div>
                      <p class="text-gray-700">RGB ONLY</p>
                    </div>

                    <input
                      type="radio"
                      name="modality"
                      value="rgb_only"
                      id="EDIT_RGB_ONLY"
                      class="sr-only"
                      checked={submission.modality === 'rgb_only'}
                    />
                  </label>
                </div>

                <div class="flex-grow">
                  <label
                    for="EDIT_RGB_AND_AUDIO"
                    class="block cursor-pointer rounded-lg border border-gray-100 bg-white p-4 text-sm font-medium shadow-sm hover:border-gray-200 has-[:checked]:border-primary-500 has-[:checked]:ring-1 has-[:checked]:ring-primary-500"
                  >
                    <div>
                      <p class="text-gray-700">RGB AND AUDIO</p>
                    </div>

                    <input
                      type="radio"
                      name="modality"
                      value="rgb_and_audio"
                      id="EDIT_RGB_AND_AUDIO"
                      class="sr-only"
                      checked={submission.modality === 'rgb_and_audio'}
                    />
                  </label>
                </div>
              </div>
            </div>
            <div class="col-span-6">
              <label
                for="edit-authors"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Authors (comma separated) <i class="font-light text-gray-600"
                  >- Optional</i
                ></label
              >
              <input
                type="text"
                name="authors"
                id="edit-authors"
                value={submission.authors}
                class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                placeholder="Author 1, Author 2, Author 3"
              />
            </div>
            <div class="col-span-6">
              <label
                for="edit-repository-url"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Repository URL <i class="font-light text-gray-600"
                  >- Optional</i
                ></label
              >
              <input
                type="text"
                name="repository_url"
                id="edit-repository-url"
                value={submission.repository_url}
                class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                placeholder="e.g VIVIDUS/my-awesome-repo"
              />
              <i class="font-light text-gray-600"
                >Only public GitHub repositories are considered</i
              >
            </div>
            <div class="col-span-6">
              <label
                for="edit-resource-title"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Resource title <i class="font-light text-gray-600"
                  >- Optional</i
                ></label
              >
              <input
                type="text"
                name="resource_title"
                id="edit-resource-title"
                value={submission.resource_title}
                class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                placeholder="e.g. My awesome article"
              />
            </div>
            <div class="col-span-6">
              <label
                for="edit-resource-url"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Resource URL <i class="font-light text-gray-600">- Optional</i
                ></label
              >
              <input
                type="text"
                name="resource_url"
                id="edit-resource-url"
                value={submission.resource_url}
                class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                placeholder="e.g. https://articles.com/my-awesome-article.pdf"
              />
            </div>
            <div class="col-span-6">
              <label
                for="edit-description"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Description <i class="font-light text-gray-600">- Optional</i
                ></label
              >
              <textarea
                id="edit-description"
                name="description"
                rows="4"
                class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                placeholder="A short description of your submission"
                >{submission.description}</textarea
              >
            </div>
          </div>
          <!-- Modal footer -->
          <div
            class="items-center mt-4 p-6 border-t border-gray-200 rounded-b dark:border-gray-700"
          >
            <button
              class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
              >Save all</button
            >
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script is:inline>
  function handleAfterRequest() {
    const $targetEl = document.getElementById('submission-modal');
    if ($targetEl) {
      const modal = new Modal($targetEl);
      modal.hide();
      document.getElementById('view-modal').innerHTML = '';
    }
  }
</script>
