---
import { url } from '../../../../lib/data';
import { getSubmissionResults } from '../../../../services';

const { submissionId } = Astro.props;

let scores = [];

if (submissionId) {
  const response = await getSubmissionResults(
    Astro.locals.user.access_token,
    submissionId
  );

  if (response.ok) {
    const body = await response.json();
    if (response.body) {
      scores = body;
    }
  }
}
---

<div
  class="p-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 sm:p-6 dark:bg-gray-800"
>
  <!-- Card header -->
  <div class="items-center lg:flex">
    <div class="mb-4 lg:mb-0">
      <h3 class="mb-2 text-xl font-bold text-gray-900 dark:text-white">
        Results from the model
      </h3>
    </div>
  </div>
  <!-- Table -->
  <div class="flex flex-col mt-6">
    <div class="overflow-x-auto rounded-lg">
      <div class="inline-block min-w-full align-middle">
        <div class="overflow-hidden shadow sm:rounded-lg">
          <table
            class="w-full divide-y divide-gray-200 dark:divide-gray-600"
          >
            <thead class="bg-gray-50 dark:bg-gray-700">
              <tr>
                <th
                  scope="col"
                  class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white"
                >
                  Dataset
                </th>
                <th
                  scope="col"
                  class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white"
                >
                  Precision
                </th>
                <th
                  scope="col"
                  class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white"
                >
                  Accuracy
                </th>
                <th
                  scope="col"
                  class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white"
                >
                  Recall
                </th>
                <th
                  scope="col"
                  class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white"
                >
                  F1 Score
                </th>
                <th
                  scope="col"
                  class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white"
                >
                  auc roc
                </th>
                <th
                  scope="col"
                  class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white"
                >
                  auc pr
                </th>
                <th
                  scope="col"
                  class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white"
                >
                  Rank
                </th>
                <th
                  scope="col"
                  class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white"
                >
                  Actions
                </th>
              </tr>
            </thead>
            <tbody class="bg-white dark:bg-gray-800">
              {
                scores.map((score) => (
                  <tr>
                    <td class="p-4 text-sm font-normal text-gray-900 whitespace-nowrap dark:text-white">
                      <a href={url(`datasets/${score.dataset_accessor}`)}>
                        {score.dataset_title}
                      </a>
                    </td>
                    <td class="p-4 text-sm font-normal text-gray-500 whitespace-nowrap dark:text-gray-400">
                      {score.precision}
                    </td>
                    <td class="p-4 text-sm font-normal text-gray-900 whitespace-nowrap dark:text-gray-400">
                      {score.accuracy}
                    </td>
                    <td class="p-4 text-sm font-normal text-gray-500 whitespace-nowrap dark:text-gray-400">
                      {score.recall}
                    </td>
                    <td class="p-4 text-sm font-normal text-gray-900 whitespace-nowrap dark:text-gray-400">
                      {score.f1}
                    </td>
                    <td class="p-4 text-sm font-normal text-gray-500 whitespace-nowrap dark:text-gray-400">
                      {score.aoc_roc}
                    </td>
                    <td class="p-4 text-sm font-normal text-gray-900 whitespace-nowrap dark:text-gray-400">
                      {score.aoc_pr}
                    </td>
                    <td class="p-4 text-sm font-normal text-gray-500 whitespace-nowrap dark:text-gray-400">
                      {score.rank}
                    </td>
                    <td class="p-4 text-sm font-normal text-gray-500 whitespace-nowrap dark:text-gray-400">
                      <a
                        href={url(`datasets/${score.dataset_accessor}`)}
                        class="inline-flex items-center py-2.5 px-4 text-sm font-bold text-center text-white bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800"
                      >
                        <svg
                          class="w-4 h-4 mr-2"
                          aria-hidden="true"
                          xmlns="http://www.w3.org/2000/svg"
                          fill="currentColor"
                          viewBox="0 0 24 24"
                        >
                          <path
                            fill-rule="evenodd"
                            d="M4.998 7.78C6.729 6.345 9.198 5 12 5c2.802 0 5.27 1.345 7.002 2.78a12.713 12.713 0 0 1 2.096 2.183c.253.344.465.682.618.997.14.286.284.658.284 1.04s-.145.754-.284 1.04a6.6 6.6 0 0 1-.618.997 12.712 12.712 0 0 1-2.096 2.183C17.271 17.655 14.802 19 12 19c-2.802 0-5.27-1.345-7.002-2.78a12.712 12.712 0 0 1-2.096-2.183 6.6 6.6 0 0 1-.618-.997C2.144 12.754 2 12.382 2 12s.145-.754.284-1.04c.153-.315.365-.653.618-.997A12.714 12.714 0 0 1 4.998 7.78ZM12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"
                            clip-rule="evenodd"
                          />
                        </svg>
                        View
                      </a>
                    </td>
                  </tr>
                ))
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
